@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient(#ff6d81, #ffdcde);
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans Symbols 2', sans-serif;
}

.calculadora {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(75px, auto) repeat(5, 75px);
}

.calculadora button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 2px solid white;
    outline: none;
    background-color: rgba(218, 218, 218, 0.75);
    font-family: 'Kay Pho Du', serif;
}

#red {
    background-color: red;
}

#red:hover {
    background-color: rgba(255, 111, 111, 0.9);
}

.salida {
    grid-column: 1 / -1;
    background-color: rgba(218, 218, 218, 0.75);
    border: 2 solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all   ;
}

.display {
    color: black;
    font-size: 1.5rem;
    height: 45px;
    width: 275px;
    text-align: right;
    font-family: 'Kay Pho Du', serif;
}

.calculadora button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.double {
    grid-row: span 2;
}